<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Jobs</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Bids</th>
                        <th>Freelancer</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="job in ctrl.jobs">
                        <td>{{$index+1}}</td>
                        <td><a ng-click="ctrl.modalDetail('lg', job)">{{job.title}}</a></td>
                        <td>{{job.category.name}}</td>
                        <td>{{job.bids.length}}</td>
                        <td><span ng-repeat="freelancer in job.freelancers">{{freelancer.firstName}} {{freelancer.lastName}}<span ng-if="$index < (job.freelancers.length-1)">, </span> <button type="button" class="btn btn-primary btn-sm" ng-show="job.status == 'FINISHED'" ng-click="ctrl.modalFreelancerFeedback('lg', job, hiredUser)"><i class="glyphicon glyphicon-tasks"></i> Feedback</button></span></td>
                        <td><span class="label label-info">{{job.status}}</span></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-show="job.status == 'STARTED'" ng-click="ctrl.finish(job)"><i class="glyphicon glyphicon-off"></i> Finish</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-show="job.status == 'FINISHED'" ng-click="ctrl.archive(job)"><i class="glyphicon glyphicon-screenshot"></i> Archive</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-show="job.status != 'ARCHIVED'" ng-click="ctrl.cancel(job)"><i class="glyphicon glyphicon-remove-circle"></i> Cancel</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>