<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Jobs ({{ctrl.jobs.length}})</div>
            <div class="panel-body">
                <table class="table table-bordered" ng-show="ctrl.jobs.length != 0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Client</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Deadline</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="job in ctrl.jobs">
                        <td>{{$index+1}}</td>
                        <td>{{job.createdBy.companyName}}</td>
                        <td>{{job.title}}</td>
                        <td>{{job.category.name}}</td>
                        <td>{{job.deadline}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.approve(job)"><i class="glyphicon glyphicon-ok"></i> Approve</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.reject(job)"><i class="glyphicon glyphicon-remove"></i> Reject</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>