<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Jobs ({{ctrl.jobs.length}})</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Posted</th>
                        <th>Category</th>
                        <th>Job Status</th>
                        <th>Interested Freelancers</th>
                        <th>Hire Freelancers</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="job in ctrl.jobs">
                        <td>{{$index+1}}</td>
                        <td><a ng-click="ctrl.modalJobDetail(job)">{{job.title}}</a></td>
                        <td>{{job.createdOn | date: 'dd MMMM yyyy'}}</td>
                        <td>{{job.category.name}}</td>
                        <td><span class="label label-info">{{job.status}}</span></td>
                        <td><a ng-repeat="bid in job.bids" ng-click="ctrl.modalBidDetail(bid, job)">{{bid.createdBy.fullName}} ({{bid.createdBy.rating}}) - {{bid.status}}</a></td>
                        <td><span ng-repeat="freelancer in job.freelancers">{{freelancer.fullName}} </span></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-show="job.status === 'APPROVED'" ng-click="ctrl.cancelJob(job)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>