<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Simple Search</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form ng-submit="homeCtrl.search()">
                        <div class="form-group">
                            <label for="search">Search:</label>
                            <input type="text" class="form-control" ng-model="homeCtrl.searchTitle" id="search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                        <div class="alert alert-info margin-top-5" ng-show="homeCtrl.message">{{homeCtrl.message}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Projects
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Skills</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in homeCtrl.projects">
                        <td>{{$index+1}}</td>
                        <td>{{project.title}}</td>
                        <td>{{project.category.name}}</td>
                        <td><span ng-repeat="skill in project.skills">{{skill.name}} | </span></td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="homeCtrl.view(project)">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>