<div class="jumbotron">
    <h2>Let us connect you with top and vetted UK’s event professionals.</h2>
</div>
<div ng-show="!user">
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                    <div class="info">
                        <h3 class="title">Do you organise events regularly?</h3>
                        <p>
                            As an event production, charity, small or medium size business or startup company- you leave a lot of money on the table by hiring your event people through a middle man.
                            <br>Gr 1 - 59%  Charities will not grow their events because / their budget is spent on / dont’ have enough of savings / they have too much costs.
                            <br>Gr 2 - about 70% event organisers say that their team size will not increase.
                            <br>Gr 3 - Drive for efficiency and reducing cost will be the major factor behind events growth in years ahead.
                        </p>
                        <h4>Is it just one-off event?</h4>
                        <p>Maybe you are organising office or your best mates bachelor party? Don’t worry! <b>We can connect you with top UK's event freelancers to fill in all the gaps that you can not.</b></p>
                        <div class="more">
                            <a ui-sref="post" title="Post a Job">Post a Job <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-flag"></i></div>
                    <div class="info">
                        <h3 class="title">Want to offer your skills?</h3>
                        <p>You are event freelancer looking for top paying companies and you want to build your own personal brand.</p>
                        <p>We are looking for: General crew, AV technicians, sound engineers, set builders, van & forklift drivers, riggers, gealth & safety, cleaning crew, stewards, stage hands, lighting technicians, and electricians</p>
                        <p>CrewLance is vetting all the freelancers and we are considering only limited number of people to join us.</p>
                        <p><b>Hurry up, only 105 places are left!</b></p>
                        <div class="more">
                            <a href="#" title="Post a Job">Apply <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <h1 class="text-center">How does it work?</h1>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                    <div class="info">
                        <h3 class="title">1. Post a job</h3>
                        <p>Submit offers and search through the platform for freelancers.</p>
                        <div class="more">
                            <a href="#" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-flag"></i></div>
                    <div class="info">
                        <h3 class="title">2. Apply for the job</h3>
                        <p>Pick an offer suitable to your skills and connect with organiser.</p>
                        <div class="more">
                            <a href="#" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-desktop"></i></div>
                    <div class="info">
                        <h3 class="title">3. Pay and get paid.</h3>
                        <p>Leave feedback on each other and payment will be completed.</p>
                        <div class="more">
                            <a href="#" title="Title Link">
                                Read More <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-md-12">
        <p>Once when the job is posted, we deposit the money and transfer it to freelancers account only when both parties are satisfied. CrewLance works only with top quality freelancers that get rated with every job they do. We guarantee safety of the transaction and resolve any potential disputes between the parties.</p>
            <div class="more">
                <a href="#" title="Title Link">
                    Read More <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                        <div class="info">
                            <h3 class="title">Popular skills offered</h3>
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr ng-repeat="skill in homeCtrl.skills">
                                    <td>{{$index+1}}</td>
                                    <td>{{skill.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="more">
                                <a title="View Skills">View More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-flag"></i></div>
                        <div class="info">
                            <h3 class="title">Recent jobs posted</h3>
                            <div class="more">
                                <a title="View Jobs">View More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
        </div>
</div>

<div ng-show="user">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Simple Search</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <form ng-submit="homeCtrl.search()">
                            <div class="form-group">
                                <label for="search">Search:</label>
                                <input type="text" class="form-control" ng-model="homeCtrl.searchTitle" id="search">
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                            <div class="alert alert-info margin-top-5" ng-show="homeCtrl.message">{{homeCtrl.message}}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Jobs</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="col-md-1">#</th>
                            <th class="col-md-3">Title</th>
                            <th class="col-md-2">Category</th>
                            <th class="col-md-4">Skills</th>
                            <th class="col-md-1">Posted</th>
                            <th class="col-md-1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="job in homeCtrl.jobs">
                            <td>{{$index+1}}</td>
                            <td>{{job.title}}</td>
                            <td>{{job.category.name}}</td>
                            <td><span ng-repeat="skill in job.skills">{{skill.name}} | </span></td>
                            <td>00/00/0000</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ui-sref="job({ selectedJob: job.id })">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>