<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">User</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form ng-submit="ctrl.submit()" name="ctrl.userForm" novalidate>
						<div class="form-group" ng-class="{ 'has-error': ctrl.userForm.email.$invalid && ctrl.userForm.email.$dirty }">
							<label for="email">Email:</label>
							<input type="text" required class="form-control" ng-model="ctrl.user.email" id="email" name="email">
						</div>
						<div class="form-group" ng-class="{ 'has-error': ctrl.userForm.firstName.$invalid && ctrl.userForm.firstName.$dirty }">
							<label for="firstName">First Name:</label>
							<input type="text" required class="form-control" ng-model="ctrl.user.firstName" id="firstName" name="firstName">
						</div>
						<div class="form-group" ng-class="{ 'has-error': ctrl.userForm.lastName.$invalid && ctrl.userForm.lastName.$dirty }">
							<label for="lastName">Last Name:</label>
							<input type="text" required class="form-control" ng-model="ctrl.user.lastName" id="lastName" name="lastName">
						</div>
						<div class="form-group" ng-class="{ 'has-error': ctrl.userForm.companyName.$invalid && ctrl.userForm.companyName.$dirty }">
							<label for="companyName">Company Name:</label>
							<input type="text" required class="form-control" ng-model="ctrl.user.companyName" id="companyName" name="companyName">
						</div>
						<div class="form-group" ng-class="{ 'has-error': ctrl.userForm.type.$invalid && ctrl.userForm.type.$dirty }">
							<label for="type">Type:</label>
							<select required class="form-control" ng-model="ctrl.user.type" id="type" name="type">
								<option value="FREELANCER">Freelancer</option>
								<option value="CLIENT">Client</option>
							</select>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="ctrl.user.enabled"> Enabled
								</label>
							</div>
						</div>
						<button type="submit" class="btn btn-default" ng-disabled="ctrl.userForm.$invalid">{{ctrl.buttonText}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Users
				<button type="button" class="btn btn-default btn-sm" ng-click="ctrl.initCreate()">
					<span class="glyphicon glyphicon-plus"></span> New User
				</button>
			</div>
			<div class="panel-body">

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Username</th>
							<th>Roles</th>
							<th>Enabled</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in ctrl.users">
							<td>{{$index+1}}</td>
							<td>{{user.email}}</td>
							<td>
								<span ng-repeat="role in user.roles">{{role.name}}<span ng-if="$index < (user.roles.length-1)">, </span></span>
							</td>
							<td>
								<span ng-show="user.enabled">Yes</span>
								<span ng-hide="user.enabled">No</span>
							</td>
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="ctrl.initEdit(user)">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
							</td>
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="ctrl.deleteUser(user)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
