<style>
    .label { margin-left: 5px; }
</style>
<div class="row" ng-repeat="job in jobCtrl.jobs">
    <h1><a ng-click="jobCtrl.modalDetail('lg', job)">{{job.title}}</a></h1>
    <p>{{job.description}}</p>
    <div>
        <span class="label label-default">Posted: 01/01/2017 00:00:00</span>
        <span class="label label-default">Category: {{job.category.name}}</span>
        <span class="label label-default">Location: {{job.location}}</span>
        <span class="label label-default" ng-show="job.fixedPrice">Fixed Price</span>
        <div class="pull-right">
            <span class="label label-primary" ng-repeat="skill in job.skills">{{skill.name}}</span>
        </div>
    </div>
    <hr>
</div>



        <!--<div class="modal fade" id="myModal-{{job.id}}-apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">-->
            <!--<div class="modal-dialog">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
                        <!--<h4 class="modal-title" id="myModalLabel2">Apply for {{job.title}}</h4>-->
                    <!--</div>-->
                    <!--<form ng-submit="jobCtrl.applyJob(job.id)" name="jobCtrl.applyJobForm" novalidate>-->
                        <!--<div class="modal-body">-->
                            <!--<div class="form-group" ng-class="{ 'has-error': jobCtrl.applyJobForm.comment.$invalid && jobCtrl.applyJobForm.comment.$dirty }">-->
                                <!--<label for="comment">Comment:</label>-->
                                <!--<input type="text" required class="form-control" ng-model="jobCtrl.bid.comment" id="comment" name="comment">-->
                            <!--</div>-->
                            <!--<div class="form-group" ng-class="{ 'has-error': jobCtrl.applyJobForm.quote.$invalid && jobCtrl.applyJobForm.quote.$dirty }">-->
                                <!--<label for="quote">Quote:</label>-->
                                <!--<input type="text" required class="form-control" ng-model="jobCtrl.bid.quote" id="quote" name="quote">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="modal-footer">-->
                            <!--<button type="submit" class="btn btn-info" ng-disabled="jobCtrl.applyJobForm.$invalid">Apply</button>-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->