<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Project</div>
			<div class="panel-body">
				<div class="col-md-12">
					<form ng-submit="projectCtrl.submit()" name="projectCtrl.projectForm" novalidate>
						<div class="form-group" ng-class="{ 'has-error': projectCtrl.projectForm.title.$invalid && projectCtrl.projectForm.title.$dirty }">
							<label for="title">Title:</label>
							<input type="text" required class="form-control" ng-model="projectCtrl.project.title" id="title" name="title">
						</div>
						<div class="form-group" ng-class="{ 'has-error': projectCtrl.projectForm.description.$invalid && projectCtrl.projectForm.description.$dirty }">
							<label for="description">Description:</label>
							<input type="text" required class="form-control" ng-model="projectCtrl.project.description" id="description" name="description">
						</div>
                        <div class="form-group" ng-class="{ 'has-error': projectCtrl.projectForm.category.$invalid && projectCtrl.projectForm.category.$dirty }">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" ng-model="projectCtrl.project.category" ng-options="item as item.name for item in projectCtrl.categories" typeahead-editable="false" required></select>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': projectCtrl.projectForm.skills.$invalid && projectCtrl.projectForm.skills.$dirty }">
                            <label for="skills">Skills:</label>
                            <select class="form-control" id="skills" ng-model="projectCtrl.project.skills" ng-options="item as item.name for item in projectCtrl.skills" typeahead-editable="false" multiple required></select>
                        </div>
						<button type="submit" class="btn btn-default" ng-disabled="projectCtrl.projectForm.$invalid">{{projectCtrl.buttonText}}</button>
						<div class="alert alert-info margin-top-5" ng-show="projectCtrl.message">{{projectCtrl.message}}</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Projects
				<button type="button" class="btn btn-default btn-sm" ng-click="projectCtrl.initAddProject()">
					<span class="glyphicon glyphicon-plus"></span> New Project
				</button>
			</div>
			<div class="panel-body">
				<div class="alert alert-info margin-top-5" ng-show="projectCtrl.deleteMessage">{{projectCtrl.deleteMessage}}</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Category</th>
							<th>Status</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in projectCtrl.projects">
							<td>{{$index+1}}</td>
							<td>{{project.title}}</td>
							<td>{{project.category.name}}</td>
							<td>{{project.status}}</td>
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="projectCtrl.initEdit(project)">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
							</td>
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="projectCtrl.deleteProject(project)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
