<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h4>Tag Line</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-7">
                <div class="well">
                    <h4>Information Box 1</h4>
                </div>
            </div>
            <div class="col-md-5">
                <div class="well">
                    <h4>Information Box 2</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <h3>Top Skills</h3>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr ng-repeat="skill in ctrl.skills">
                <td>{{$index+1}}</td>
                <td>{{skill.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-3">
        <h3>Top Categories</h3>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr ng-repeat="category in ctrl.categories">
                <td>{{$index+1}}</td>
                <td>{{category.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-5">
        <h3>Recent Jobs</h3>
    </div>
</div>