<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping>
        <class-a>com.eureka.smartrecruit.dto.CategoryDto</class-a>
        <class-b>com.eureka.smartrecruit.domain.Category</class-b>
        <field>
            <a>id</a>
            <b>id</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.eureka.smartrecruit.dto.JobDto</class-a>
        <class-b>com.eureka.smartrecruit.domain.Job</class-b>
        <field>
            <a>id</a>
            <b>id</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.eureka.smartrecruit.dto.SkillDto</class-a>
        <class-b>com.eureka.smartrecruit.domain.Skill</class-b>
        <field>
            <a>id</a>
            <b>id</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.eureka.smartrecruit.dto.MembershipDto</class-a>
        <class-b>com.eureka.smartrecruit.domain.Membership</class-b>
        <field>
            <a>id</a>
            <b>id</b>
        </field>
    </mapping>

    <mapping>
        <class-a>com.eureka.smartrecruit.dto.UserDto</class-a>
        <class-b>com.eureka.smartrecruit.domain.User</class-b>
        <field>
            <a>id</a>
            <b>id</b>
        </field>
    </mapping>

</mappings>