<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">Register</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form ng-submit="ctrl.submit()" name="ctrl.registerForm" novalidate>
					<div class="col-md-12 form-group" ng-class="{ 'has-error': ctrl.registerForm.email.$invalid && ctrl.registerForm.email.$dirty }">
						<label for="email">Email:</label>
						<input type="text" required class="form-control" ng-model="ctrl.user.email" id="email" name="email">
					</div>
					<div class="col-md-6 form-group" ng-class="{ 'has-error': ctrl.registerForm.password.$invalid && ctrl.registerForm.password.$dirty }">
						<label for="pwd">Password:</label>
						<input type="password" required class="form-control" id="pwd" ng-model="ctrl.user.password" name="password">
					</div>
					<div class="col-md-6 form-group" ng-class="{ 'has-error': ctrl.registerForm.confirmPassword.$invalid && ctrl.registerForm.confirmPassword.$dirty }">
						<label for="cpwd">Confirm Password:</label>
						<input type="password" required class="form-control" id="cpwd" ng-model="ctrl.confirmPassword" name="confirmPassword">
					</div>
					<div class="col-md-12 form-group" ng-show="ctrl.confirmPassword != ctrl.user.password">
						<div class="alert alert-warning">Password does not match</div>
					</div>
					<div class="col-md-6 form-group" ng-class="{ 'has-error': ctrl.registerForm.firstName.$invalid && ctrl.registerForm.firstName.$dirty }">
						<label for="firstName">First Name:</label>
						<input type="text" required class="form-control" ng-model="ctrl.user.firstName" id="firstName" name="firstName">
					</div>
					<div class="col-md-6 form-group" ng-class="{ 'has-error': ctrl.registerForm.lastName.$invalid && ctrl.registerForm.lastName.$dirty }">
						<label for="lastName">Last Name:</label>
						<input type="text" required class="form-control" ng-model="ctrl.user.lastName" id="lastName" name="lastName">
					</div>
					<div class="col-md-6 form-group" ng-class="{ 'has-error': ctrl.registerForm.companyName.$invalid && ctrl.registerForm.companyName.$dirty }">
						<label for="companyName">Company Name:</label>
						<input type="text" required class="form-control" ng-model="ctrl.user.companyName" id="companyName" name="companyName">
					</div>
					<div class="col-md-6 form-group" ng-class="{ 'has-error': ctrl.registerForm.biography.$invalid && ctrl.registerForm.biography.$dirty }">
						<label for="biography">Biography:</label>
						<input type="text" required class="form-control" ng-model="ctrl.user.biography" id="biography" name="biography">
					</div>
					<button type="submit" class="btn btn-default" ng-disabled="ctrl.registerForm.$invalid || (confirmPassword != user.password)">Register</button>
					<button class="btn btn-default" ui-sref="login">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>